$sm-width: 575px;
$md-width: 767px;
$lg-width: 991px;
$xl-width: 1199px;

$side-width: 340px;
$header-height: 60px;
$padding-width-1: 30px;
$padding-width-2: 70px;

$side-width-xl: 250px;

$active-color: #D91C5C;
$gray-color: #9E9E9E;
$text-color-1: #424242;
$text-color-2: #212121;
$border-color: rgba(#BDBDBD, 0.5);
$info-color: #26A9E0;